# Raiz do projeto
**/vendor/*
**/.env
**/.env.local
**/.env.*.local

# === Yii2 Basic (dentro de src/Infrastructure/Yii) ===
src/Infrastructure/Yii/runtime/
src/Infrastructure/Yii/web/assets/
src/Infrastructure/Yii/environments/

# Arquivos temporários
*.log
*.cache
*.tmp

# Diretório para dados temporários ou storage local (caso crie)
var/*

# Arquivos do Docker (caso existam)
docker/*.log
docker/*.pid

# Ignorar configurações do VSCode
.vscode/

# Ignorar devcontainer
.devcontainer/
docs/
